td.username {
    font-weight: bold;
}

tr.match:nth-child(odd) {
    background-color: #f8f8f8;
}

tr#total {
    border-bottom: 1px solid #aaa;
}

td.bet_result, td.bet, td.username, td.points {
    text-align: center;
    border-left: 1px solid #aaa;
    padding: 5px;
    width: 1px;
}

td.colspan, td.date, td.time, td.home_team, td.away_team {
    width: 1%;
    white-space: nowrap;
}

tr.match > td:not(:first-child) {
    border-left: 1px solid #aaa;
}

tr.match > td {
    padding: 5px 10px;
}

#results_table {
    border: 1px solid #aaa;
    padding: 0;
    margin: 15px;
}

tr.match {
    border-bottom: 1px solid #ccc;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 52px;
    width: 100%;
}

#wrapper {
    margin-top: 60px;
}

.results_table_float > thead, #results_table > thead {
    background: lightgreen;
}

.bet_result.highlighted {
    background: lawngreen;
}