td.username {
    font-weight: bold;
}

tr.match:nth-child(odd) {
    background-color: #f8f8f8;
}

tr#total {
    border-bottom: 1px solid #aaa;
}

td.bet_result, td.bet, td.username, td.points {
    text-align: center;
    border-left: 1px solid #aaa;
    padding: 5px;
    width: 1px;
}

#results_table td.colspan,
#results_table td.date,
#results_table td.time,
#results_table td.home_team,
#results_table td.away_team {
    width: 1%;
    white-space: nowrap;
}

tr.match > td:not(:first-child) {
    border-left: 1px solid #aaa;
}

tr.match > td {
    padding: 5px 10px;
}

#results_table, #bets_table {
    border: 1px solid #aaa;
    padding: 0;
    margin: 15px;
}

tr.match {
    border-bottom: 1px solid #ccc;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 52px;
    width: 100%;
}

#wrapper {
    margin-top: 60px;
}

.results_table_float > thead, #results_table > thead {
    background: lightgreen;
}

.bet_result.highlighted {
    background: lawngreen;
}

.bet > input {
    text-align: center;
}

.navbar > div {
    text-align: center;
}

#save_bets {
    margin-top: 10px;
}

#bets_table {
    margin: auto;
}

.saved_alert {
    float: right;
    position: fixed;
    right: 0;
    margin-right: 50px;
    padding: 10px 40px;
}