{% extends 'base.html' %}

{% load static %}

{% load competition_filters %}

{% block extra_head %}
    <link href="{% static 'competitions.css' %}" rel="stylesheet">
    <script src="{% static 'user_bets.js' %}"></script>
{% endblock extra_head %}

{% block extra_nav %}
    <button type="button" class="btn btn-sm btn-success" id="save_bets">Save</button>
{% endblock extra_nav %}

{% block body %}
    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'saved' %}
                                <div class="saved_alert alert alert-success {{ message.tags }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
    {% endif %}

    <form action="{% url 'user_bets' %}" method="POST">
        {% csrf_token %}
        <table id="bets_table">
			<tr class="header">
				<td>Date</td>
				<td>Time</td>
				<td>Home team</td>
				<td>Away team</td>
				<td>Your bet</td>
				<td colspan="2">Penalty shootout winner (if applicable)</td>
			</tr>
        {% for match in matches %}
            <tr class="match">
                <td class="date">{{ match.datetime|date:"d.m.Y" }}</td>
                <td class="time">{{ match.datetime|date:"H:i" }}</td>
                <td class="home_team">{{ match.home_team }}</td>
                <td class="away_team">{{ match.away_team }}</td>
                <td class="bet">
                    {% if match|get_property:'in_future' %}
                        <input name="match_{{ match.id }}" value="{{ match.bet|default_if_none:'' }}">
                    {% else %}
                        {{ match.bet|default_if_none:'' }}
                    {% endif %}

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == match.id|stringformat:"s" %}
                                <div class="{{ message.tags }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
				<td class="shootout_winner">
					{% if match.can_have_penalty_shootout %}
						<label>
							<input
									type="radio"
								   	class="shootout_winner_radio"
								   	name="match_{{ match.id }}_shootout_winner"
								   	value="0"
									{% if not match|get_property:'in_future' %}disabled{% endif %}
									{% if match.bet.shootout_winner == False %}checked{% endif %}
							/>
							{{ match.home_team }}
						</label>
						<br>
						<label>
							<input
									type="radio"
									class="shootout_winner_radio"
									name="match_{{ match.id }}_shootout_winner"
									value="1"
									{% if not match|get_property:'in_future' %}disabled{% endif %}
									{% if match.bet.shootout_winner == True %}checked{% endif %}
							/>
							{{ match.away_team }}
						</label>
					{% endif %}
				</td>
				<td class="reset_radio">
					{% if match.can_have_penalty_shootout %}
					<span class="reset_link {% if match.bet.shootout_winner == None or not match|get_property:'in_future' %}hidden{% endif %}">Reset</span>
					{% endif %}
				</td>
            </tr>
        {% endfor %}
        </table>
    </form>
{% endblock %}

