{% extends 'base.html' %}

{% load static %}

{% load competition_filters %}

{% block extra_head %}
    <link href="{% static 'competitions.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block body %}
    <form action="{% url 'user_bets' %}" method="POST">
        {% csrf_token %}
        <button type="submit" id="save_bets">Save</button>
        <table id="results_table">
        {% for match in matches %}
            <tr class="match">
                <td class="date">{{ match.datetime|date:"d.m.Y" }}</td>
                <td class="time">{{ match.datetime|date:"H:i" }}</td>
                <td class="home_team">{{ match.home_team }}</td>
                <td class="away_team">{{ match.away_team }}</td>
                <td class="bet">
                    {% if match|get_property:'in_future' %}
                        <input name="match_{{ match.id }}" value="{{ match.bet|default_if_none:'' }}">
                    {% else %}
                        {{ match.bet|default_if_none:'' }}
                    {% endif %}

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == match.id|stringformat:"s" %}
                                <div class="{{ message.tags }}">{{ message | safe }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </form>
{% endblock %}

