<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Betleague</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/competitions.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Betleague</a>

        <ul class="nav navbar-nav navbar-left">
            {% if user.is_authenticated %}
                <li class="navbar-link"><a href="{% url 'user_bets' %}">My bets</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="navbar-text">Logged in as {{ user.email }}</li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block body %}
{% endblock %}
</body>
</html>