{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    <link href="{% static 'league.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <table id="league">
        <thead>
            <tr>
                <td>#</td>
                <td class="username">Username</td>
                <td>Points</td>
                <td>Matches bet</td>
                <td>12</td>
            </tr>
        </thead>
        {% for user_ in users %}
            <tr class="user {% if user.username == user_.username %}highlighted{% endif %}">
                <td class="position">{{ forloop.counter }}</td>
                <td class="username">{{ user_.username }}</td>
                <td class="points">{{ user_.points }}</td>
                <td class="matches_bet">{{ user_.matches_bet }}</td>
                <td class="guess_hits">{{ user_.guess_hits }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

